.box
  position: absolute
  top: 50px
  left: 0
  right: 0
  width: 400px
  border: 1px solid #ccc
  margin: 0 auto
  padding: 20px
  height: 300px

.inner-content-box
  position: relative

#form-wrapper
  text-align: center

#value-wrapper
  text-align: center
  position: absolute
  left: 0
  right: 0
  top: 95px

  .inserted-value
    border: 1px solid #ccc
    border-radius: 190px
    padding: 50px 40px
    width: 10%
    margin: auto
    cursor: pointer

    &:hover
      border-color: red
      color: red

  .factors
    margin: 0 auto

    ul
      margin: 0
      padding: 0

      li
        float: left
        list-style-type: none
        margin-right: 10px